html, body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
	background-color: var(--bgcolor);
	transition: 0.9s background-color;
}

.locked{
	height: 100vh;
	overflow: hidden;
}

.no-pointer-events{
	pointer-events: none !important;
}

.neardeath{
	opacity: 0;
	transition: 0s !important;
}
.notransition{
	transition: 0s !important;
}

:root{
	--bgcolor: #fff;
	--bgcolortint: #fff;
	--bgcolordarktint: #fff;
	--dark: #423838;
	--light: #fff;
	--textcolor: #333;
}
